@{
    ViewData["Title"] = "Équipe";
}

<div class="text-center">
    <h1 class="display-4">Notre équipe</h1>
    <div class="employee">
        <img class="img-fluid" src="/lib/equipe1.jpg" alt="Julia Sullivan">
        <p class="name">Julia Sullivan</p>
        <p class="role">Spécialiste Design</p>
    </div>
    <div class="employee">
        <img class="img-fluid" src="/lib/equipe2.jpg" alt="Michael Stuart">
        <p class="name">Michael Stuart</p>
        <p class="role">Programmeur Sénior</p>
    </div>
    <div class="employee">
        <img class="img-fluid" src="/lib/equipe3.jpg" alt="Hector Huort">
        <p class="name">Hector Huort</p>
        <p class="role">Analyste des Données</p>
    </div>
</div>



