@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ServiceAI joue un rôle central dans le monde du travail</h1>
    <br><br/>
    <div class="container text-center">
        <img class="img-fluid" src="~/lib/img1.jpg" alt="IA">
    </div>
    <br><br />
    <p class="custom-index">
        Chez <span class="serviceai-text">ServiceAI</span>, nous sommes <strong>convaincus</strong> du potentiel de la technologie pour <strong>améliorer</strong> le monde du travail. <br><br>
        Notre objectif est de <strong>simplifier</strong>, d'<strong>accélérer</strong> et de <strong>rendre intuitives</strong> les tâches que vous devez accomplir, vous permettant ainsi de vous concentrer sur <span style="font-style: italic;">l'essentiel</span>.  <br> <br>
        Nous croyons en un avenir où le travail devient <span style="font-style: italic;">plus fluide et efficace pour tous</span>.
    </p>

</div>
