@{
	ViewBag.Title = "Confirmation";
}

<h2>@ViewBag.Title</h2>
<br>
<br>
<p>
	Votre demande de contact a bien été envoyée. <br><br>
	Veuillez nous accorder un délai de 24 à 48h pour obtenir une réponse de notre part. <br><br>
	Merci.
</p>