<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Examen1_JustineClement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Examen1_JustineClement.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="custom-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand custom-nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/lib/img2.jpg" alt="Logo" class="logo-img"> ServiceAI
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        <!-- Utilisation de la classe ms-auto pour aligner les liens à droite -->
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="Equipe">Équipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Service" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="NousJoindre" asp-action="Index">Nous Joindre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3" style="padding-top: 60px;">
            @RenderBody()
        </main>
    </div>

    <footer class="custom-footer border-top footer">
        <div class="container">
            &copy; 2023 - ServiceAI - Justine Clément - Images libres de droits 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
